
    <p> Title: <%= @book.title %></p>
    <p> Author: <%= @book.author %></p>
    <p> Year: <%= @book.year %></p>
    <p> Category: <%= @book.category %></p>
    <p>Description: <%= @book.description %></p>


<%= link_to 'Back', books_path %>
